AWS_REGION=ap-northeast-1

# for deploy
DOCKER_REPOSITORY=xxx.dkr.ecr.ap-northeast-1.amazonaws.com/xxx
AWS_LAMBDA_FUNCTION=html-to-pdf
# NODE_VERSION=18
# DOCKER_DEFAULT_PLATFORM=linux/amd64
# APP_NAME=htmltopdf
# DOCKER_TAG=dev
